:root{
   --grid-cols:16;
   --grid-rows:16;
}

#container{
    display: grid;
    width: 551px;
    height: 551px;
   grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns:repeat(var(--grid-cols), 1fr);
   
}
.griditem{
    max-width:100%;
    max-height:100%;
    border:1px solid #ddd;
    text-align: center;
}